<!-- Navigation -->

  <!-- Header -->
  <header>
      <div class="container">
          <div class="intro-text">

            <wizard on-finish="finishedWizard()">
                <wz-step wz-title="Pick Party">
                  <div class="row">
                    <div class="col-lg-4">
                      Pick parties
                    </div>
                    <div class="col-lg-8">
                      <button type="button" class="btn-primary" name="button" ng-click="home.selectAll(home.selectedParties)">
                        Select All
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" ng-repeat="party in home.selectedParties">
                      <button type="button" class="btn-primary btn-block" name="button" ng-click="home.select(party)" ng-class="{'btn-{{party.name}}': party.selected ===false }">
                        {{party.name}}
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col">
                      <button type="button" wz-next class="btn-primary" name="button">
                        Next
                      </button>
                    </div>
                  </div>
                    <!-- <h1>This is the first step</h1>
                    <p>Here you can use whatever you want. You can use other directives, binding, etc.</p>
                    <input type="submit" wz-next value="Continue" /> -->
                </wz-step>
                <wz-step wz-title="Pick Regions">
                  <div class="row">
                    <div class="col-lg-4">
                      Pick parties
                    </div>
                    <div class="col-lg-8">
                      <button type="button" class="btn-primary" name="button" ng-click="home.selectAll(home.provinces)">
                        Select All
                      </button>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4" ng-repeat="province in home.provinces">
                        <button type="button" class="btn-primary btn-block" name="button" ng-click="home.select(province)" ng-class="{'btn-liberal': province.selected ===true }">
                          {{province.name}}
                        </button>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button type="button" wz-next class="btn-primary" name="button">
                        Next
                      </button>
                    </div>
                  </div>
                </wz-step>
                <wz-step wz-title="Email">
                  <button type="button" name="button" class="btn-primary" ng-click="home.emailNow()">
                    EMAIL NOW
                  </button>
                </wz-step>
            </wizard>
              <!-- <div class="intro-lead-in">Welcome To Our Studio!</div>
              <div class="intro-heading">It's Nice To Meet You</div>
              <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
          </div>
      </div>
  </header>

<!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <script src="js/agency.min.js"></script> -->
