button {
  &.btn-liberal {
    background-color: #d71920;
    border-color: #d71920;
  }
  &.btn-conservative {
    background-color: #1a4782;
    border-color: #1a4782;
  }
  &.btn-ndp {
    background-color: #f37021;
    border-color: #f37021;
  }
  &.btn-green {
    background-color: #3d953b;
    border-color: #3d953b;
  }
}
