button {
  &.btn-Liberal {
    background-color: #d71920;
    border-color: #d71920;
  }
  &.btn-Conservative {
    background-color: #1a4782;
    border-color: #1a4782;
  }
  &.btn-NDP {
    background-color: #f37021;
    border-color: #f37021;
  }
  &.btn-Green {
    background-color: #3d953b;
    border-color: #3d953b;
  }
}
